* {
  box-sizing: border-box;
}

body { 
  background-color: #f5f6fa;
  font-family: Tahoma;
}

#navbar{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

#nav-header {
  position: sticky;
  top:0;
  display:block;
  background-color: #f5f6fa;
  margin: 0px auto;
  padding: 0px 10px;
}

.nav-link {
  display: block;
  margin: 10px;
  padding-top: 10px;
  width: 97.5%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid lightgray;
}

.nav-link:hover {
  font-weight: bold;
}

#main-doc {
  margin-left: 25%;
  padding: 0 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

code {
  background-color: #dcdde1;
  display: block;
  width: 80%;
  padding: 1px 10px;
  margin: 10px auto;
  font-size: 16px;
  overflow-x: auto;
  border-radius: 5px;
}

code pre {
  font-family: courier;
  font-weight: bold;
}

@media (max-width: 850px) {
  #navbar {
    display: block;
    position: static;
    width: 80%;
    margin: 10px auto;
    height: 200px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #main-doc {
    margin: 20px 2em;
    padding: 0;
  }

  code {
    width: 100%;
    font-size: small;
  }

  /* #navbar {
    width: 20%;
  }

  #main-doc {
    margin-left: 20%;
    padding: 5px;
  } */
}